<!doctype html>
<html lang="en">
<head>
<meta charset="utf8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>ProbZoo &mdash; {{ name }}</title>
{% if macros %}
<script type="text/javascript">
window.PageMacros = {{ macros | dump | safe }}
</script>
{% endif %}
<script type="text/javascript">
let macros = {
  Reals: "\\mathbb{R}",
  P: "\\mathrm{P}",
  E: "\\mathrm{E}"
}
if (window.PageMacros) {
  macros = Object.assign(macros, window.PageMacros)
}
window.MathJax = {
  tex: { macros }
};
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
</head>
<body>
<h1>{{name}} Distribution</h1>
{{ contents | safe }}
<div id="pdf-shell"></div>
<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript">
distribution({{class}});
</script>
</body>
</html>
